/* Property {
	Selector: Value;
} */

body {
	background-color: skyblue;
}

h1 {
	color: yellow;
}

ul {
	list-style: none;
}

p {
	text-align: center;
}

.container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	margin: 15px 15px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 90%;
}

img {
	width: 450px;
	height: 300px;
	margin: 100px;
	transition: all 0.2s;
}

img:hover {
transform: scale(1.1);
}

footer {
	text-align: center;
	margin: 30px;
}